### Importing data manuplation libraries

In [33]:
import pandas as pd
import numpy as np
import pickle

In [34]:
df=pd.read_csv('bbc-text.csv')

In [35]:
df.shape

(808, 2)

In [36]:
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

### Data Preperation

In [37]:
# Couting different types of categories present the the dataset
df['category'].value_counts()

category
sport            192
business         190
politics         149
tech             139
entertainment    138
Name: count, dtype: int64

In [38]:
# Finding NA values 
df.isna().sum()

category    0
text        0
dtype: int64

In [39]:
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [40]:
#Spliting data values and target values
x = df['text']
y = df['category']

### Importing ML libraries

In [41]:
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.linear_model import SGDClassifier


from sklearn.metrics import f1_score

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [43]:
x

0      tv future in the hands of viewers with home th...
1      worldcom boss  left books alone  former worldc...
2      tigers wary of farrell  gamble  leicester say ...
3      yeading face newcastle in fa cup premiership s...
4      ocean s twelve raids box office ocean s twelve...
                             ...
803    software watching while you work software that...
804    yachvili savours france comeback france scrum-...
805    safin plays down wimbledon hopes newly-crowned...
806    china keeps tight rein on credit china s effor...
807    films on war triumph at sundance a study of th...
Name: text, Length: 808, dtype: object

### Model Training

In [44]:
X_train, X_test, y_train, y_test = train_test_split (x,y, test_size=0.33, random_state=1)

In [45]:
y_train

355         business
642         business
632             tech
173         politics
277    entertainment
           ...
715    entertainment
767         business
72          politics
235         business
37     entertainment
Name: category, Length: 541, dtype: object

In [46]:
# Create a CountVectorizer to convert text into a numerical representation and removing stop words
vectorizer = CountVectorizer(stop_words='english')

# Fit and transform the training data
X_train_vectorized = vectorizer.fit_transform(X_train)

# Transform the testing data
X_test_vectorized = vectorizer.transform(X_test)

In [47]:
# Dumping vectorizer as Pickle

with open('../app/vectorizer.pkl', 'wb') as file:
    pickle.dump(vectorizer, file)

### Find best ML model with highest accuracy

In [48]:
# classifiers = [
#     KNeighborsClassifier(15),
#     SVC(),
#     DecisionTreeClassifier(),
#     ExtraTreesClassifier(),
#     RandomForestClassifier(),
#     AdaBoostClassifier(),
#     # GaussianNB(),
#     SGDClassifier(),
#     MultinomialNB()
# ]

In [49]:
# for clf in classifiers:
#     clf.fit(X_train_vectorized, y_train)
#     pred=clf.predict(X_test_vectorized)
#     print(clf, f1_score(y_test, pred,average='weighted'))

### Selecting best Model

In [50]:
naive_bayes = MultinomialNB()
naive_bayes.fit(X_train_vectorized, y_train)
y_pred = naive_bayes.predict(X_test_vectorized)
accuracy = f1_score(y_test, y_pred,average='weighted')
print("Accuracy:", accuracy)

Accuracy: 0.9775805466507921

In [51]:
with open('../app/model.pkl', 'wb') as file:
    pickle.dump(naive_bayes, file)